@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply globally to all specified tags */
@layer base {
  h1 {
    @apply text-indigo-600;
  }
}

/* reuse styles wrapped conviently under one class name */
@layer components {
  .btn-primary {
    @apply rounded-lg bg-blue-500 py-2 px-4 font-semibold text-white shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .btn-navbar {
    @apply cursor-pointer rounded border-2 border-transparent py-2 px-6 text-sm text-white hover:border-2 hover:border-blue-300/10 hover:bg-blue-300/25;
  }

  .btn-leave {
    @apply w-32 rounded-lg bg-red-500 py-2 px-4 font-semibold text-white shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
  }

  .btn-callback {
    @apply w-32 rounded-lg bg-green-500/80 py-2 px-4 font-semibold text-white shadow-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75;
  }

  .btn-skip {
    @apply w-32 rounded-lg bg-gray-500/80 py-2 px-4 font-semibold text-white shadow-md hover:bg-gray-500/90 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75;
  }

  .btn-start {
    @apply bg-red-400 my-4 inline-grid h-20 w-96 place-items-center rounded-xl text-3xl font-bold text-white shadow-md xl:w-64;
  }

  .main-title {
    @apply py-5 text-8xl font-bold text-green-600;
  }

  .main-subtitle {
    @apply py-5 text-2xl text-gray-600;
  }

  .section-title {
    @apply text-pink-550 py-5 text-6xl font-bold;
  }

  .hero-card {
    @apply fixed top-1/3 my-6 rounded-lg border-4 border-dashed border-black bg-slate-200 p-8 opacity-80;
  }

  .my-style {
    @apply h-1 w-8 rounded-sm bg-slate-100;
  }

  .searchbar-icon {
    @apply pointer-events-none absolute inset-y-0 left-[10px] flex items-center;
  }

  .searchbar-input {
    @apply block w-full rounded-l-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-900  dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400;
  }

  .searchbar-btn {
    @apply ml-0 inline-flex items-center rounded-r-lg border border-green-600 bg-green-600 py-2.5 px-3 text-sm font-medium text-white hover:bg-green-700 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
  }

  .data-sidebar {
    @apply absolute right-0 my-[100px] h-[60%] w-[260px] p-0;
  }

  .data-sidebar-tab {
    @apply bg-fuchsia-750 absolute mt-[50px] flex h-[60px] w-[15px] items-center rounded-l-md hover:cursor-pointer;
  }

  .data-sidebar-tab-arrow {
    @apply h-full w-full text-gray-200 dark:text-gray-200;
  }

  .data-sidebar-background {
    @apply absolute mr-0 ml-[15px] flex h-full w-[245px] rounded-l-xl border-2 border-gray-400 bg-gray-200 p-0;
  }

  .textbox-sidebar {
    @apply m-2 w-11/12 rounded-md border-2 border-gray-50;
  }

  .btn-sidebar {
    @apply bg-fuchsia-750 m-2 inline-grid h-20 w-11/12 place-items-center rounded-xl text-xl font-bold text-white shadow-md;
  }

  .landing-background {
    @apply bg-gray-800;
  }

  .system-toolbar {
    @apply transition ease-in-out transition-all absolute bg-gray-300 h-[100%] w-[150px];
  }

  .system-toolbar-button {
    @apply flex justify-center h-[40px] my-[15px];
  }
}

.youtube-placeholder {
  background-color: #0f0f0f;
  border-radius: 9px;
  width: 625px;
  height: 352px;
  color: #ffffff;
  font-size: 1.6em;
  font-style: bold;
  margin: 20px 0;
}

.youtube-triangle {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid white;
}
