@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply globally to all specified tags */
@layer base {
    h1 {
        @apply text-indigo-600;
    }
}

/* reuse styles wrapped conviently under one class name */
@layer components{
    .btn-primary {
        @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    .btn-navbar {
        @apply cursor-pointer text-white text-sm hover:bg-blue-300/25 border-2 border-transparent hover:border-2 hover:border-blue-300/10 rounded py-2 px-6
    }

    .btn-leave {
        @apply  py-2 px-4 w-32 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
    }

    .btn-callback {
        @apply py-2 px-4 w-32 bg-green-500/80 text-white font-semibold rounded-lg shadow-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75;
    }

    .btn-skip {
        @apply py-2 px-4 w-32 bg-gray-500/80 text-white font-semibold rounded-lg shadow-md hover:bg-gray-500/90 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75;
    }

    .hero-card {
        @apply fixed p-8 my-6 top-1/3 bg-slate-200 rounded-lg border-4 border-dashed border-black opacity-80
    }

    .my-style {
        @apply w-8 h-1 bg-slate-100 rounded-sm
    }
}