@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply globally to all specified tags */
@layer base {
    h1 {
        @apply text-indigo-600;
    }
}


/* reusable styles wrapped conviently under one class name */
@layer components{
    .btn-ecomapper {
        @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
}